h1.title {
    font: normal 24px/1.5 "Open Sans", sans-serif;
    color: #227633;
  }
  
  div.container {
    color: #227633;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  }
  
  .square1 {
    width: 20px;
    height: 20px;
    background-color:aqua;
  }
  
  .square2 {
    width: 300px;
    height: 300px;
    background-color: #227633;
  }
  
  .dialog-button, .confirm, .cancel {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    padding: 12px 40px;
    cursor: pointer;
  }
  

  .cancel {
    background-color:blueviolet;
    float: right;
  }
  

  .confirm {
    background-color: #87bae1;
    float: left;
  }
  

  ul {
    list-style: none;
  }
  
  ul li {
    padding: 15px;
    display: inline-block;
  }
  
  ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #444;
  }
  
  .container {
    width: 800px;
  }
  
  .column-half {
    width: 400px;
  }
  
  .column-fifth {
    width: 160px;
  }
  
  a {
    padding: 10px 15px;
    background-color:brown;
  }
  
  a:hover {
    background-color:chocolate;
  }